/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
docker/.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# 追加
/public/js
/public/css
.portfolio-data

# Mac向け
*.DS_Store
.DS_Store

# PhpStorm
.idea/*.iml
.idea/*.xml
## TODO: .idea配下は今後整理する
.idea/
