// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-image: url("../img/pink_rice.png");
    background-repeat: repeat;
}


.portfolio-header {
    color: #421C26;
    background-color: rgba(246,223,221,.8);
    box-shadow:  0 4px 4px 0 #662B3A;
    position: fixed;
    z-index: 2;
}

.portfolio-navbar {
    height: 56px;
}

.header-content {
    text-align: center;
}

.header-content > span {
    padding: 0 .2rem;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

/* For Desktop */
@media (min-width: 768px) {
    .portfolio-menu-title {
    }

    .links > a {
        color: #421C26;
        padding: 0 .2rem;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}

/* For SmartPhone */
@media (max-width: 767.98px) {
    .portfolio-menu-title {
        display: none;
    }

    .links > a {
        display: none;
    }
}
